## Limpieza del archivo .txt
Este código sirve para la lectura, limpieza y actualización de archivos txt.
Para usarlo, es necesario que **el archivo esté en la carpeta actual**.

Se deben seguir los siguientes pasos:

- txt = Procesado_txt('nombre-de-tu-archivo.txt')

- txt_limpio = txt.limpieza_txt()

Como resultado, se obtiene el archivo limpio en forma de lista.

En este mismo archivo dejamos las celdas necesarias con este código para su ejecución.

Hemos preparado también una función de creación de tablas en MySQL y otra de inserción de datos.

In [1]:
class Procesado_txt:
    '''Usaremos esta clase para el procesado del archivo txt.
    Contiene dos métodos, lectura_txt y limpieza_txt.
    En el de limpieza también se incluye el de lectura.
    Return: Una lista del archivo procesado y limpio.'''

    def __init__ (self, ruta_archivo_txt):

        self.ruta_archivo_txt = ruta_archivo_txt

    def lectura_txt(self):

        with open(self.ruta_archivo_txt,'r') as f:
            file_source = f.readlines() 
            f.close()
            return file_source

    '''Creamos una función aplicando los cambios pedidos y además algunos otros que hemos observado:'''

    def limpieza_txt(self):

        file_source = self.lectura_txt()
        txt_limpio = []

        for file in file_source:
            elemento = file.strip().replace('null','NULL').replace('<','under').replace('   ', ' ').replace('  ', ' ').replace(' ,', ',').replace(' ;', ';')
            txt_limpio.append(elemento)
        return txt_limpio

    '''Convertimos el archivo final a una lista de tuplas'''

    def conversion_txt(self):

        txt_limpio = self.limpieza_txt()
        txt_final = []

        for i in txt_limpio[1:]:
            lista = i.split(';')
            tupla = tuple(lista)
            txt_final.append(tupla)

        return txt_final

In [2]:
'''Para llamar al archivo lo ponemos entre paréntesis. La ruta del archivo que queremos procesar
debe estar en la misma carpeta que el Jupyter con el que trabajamos.'''

txt = Procesado_txt('data_txt.txt')

In [3]:
'''Creamos la variable con el archivo limpio para insertar en la importación'''

txt_limpio = txt.conversion_txt()

In [4]:
'''Para comprobar que el archivo se ha limpiado correctamente, imprimimos el primer valor'''

txt_limpio[0:2]

[('1',
  'Indonesia',
  'Masterâ€™s degree',
  'Program/Project Manager',
  '20+ years',
  'NULL, SQL, C, C++, Java',
  'Python',
  'NULL, Notepad++, Jupyter Notebook',
  'A cloud computing platform (AWS, Azure, GCP, hosted notebooks, etc)',
  'NULL, None',
  'Never',
  ' Matplotlib',
  'Under 1 year',
  ' Scikit-learn',
  'Linear or Logistic Regression, Decision Trees or Random Forests',
  'Manufacturing/Fabrication',
  '1000-9,999 employees',
  '1-2',
  'We are exploring ML methods (and may one day put a model into production)',
  'NULL, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data',
  '60,000-69,999',
  '$0 ($USD)',
  '',
  '',
  '',
  '',
  'Advanced statistical software (SPSS, SAS, etc.)'),
 ('2',
  'Pakistan',
  'Masterâ€™s degree',
  'Software Engineer',
  '1-3 years',
  'Python, C++, Java',
  'Python',
  'NULL, PyCharm, Jupyter Notebook, Other',
  'A laptop',
  'NULL, Other',
  'Never',
  ' Matplotlib',
  'I do not use machine learning methods',
  '',
  '',
  'Academics/Education',
  '1000-9,999 employees',
  '0',
  'I do not know',
  'NULL, None of these activities are an important part of my role at work',
  '$0-999',
  '$0 ($USD)',
  'MySQL, MongoDB',
  'MySQL',
  'NULL, None',
  '',
  'Basic statistical software (Microsoft Excel, Google Sheets, etc.)')]

In [ ]:
'''Mediante este código creamos la tabla data_txt en MySQL:'''

import mysql.connector

cnx = mysql.connector.connect(user='root', password = 'AlumnaAdalab' ,
                            host='127.0.0.1', database ='project1')

mycursor = cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE data_txt (
                            index_txt int not null auto_increment,
                            index_sql int,
                            q3 varchar (255),
                            q4 varchar (255),
                            q5 varchar (255),
                            q6 varchar (255),
                            q7 varchar (255),
                            q8 varchar (255),
                            q9 varchar (255),
                            q11 varchar (255),
                            q12 varchar (255),
                            q13 varchar (255),
                            q14 varchar (255),
                            q15 varchar (255),
                            q16 varchar (255),
                            q17 varchar (500),
                            q20 varchar (255),
                            q21 varchar (255),
                            q22 varchar (255),
                            q23 varchar (255),
                            q24 varchar (500),
                            q25 varchar (255),
                            q26 varchar (255),
                            q32 varchar (500),
                            q33 varchar (255),
                            q34 varchar (255),
                            q35 varchar (255),
                            q41 varchar (255),
                            primary key (index_txt),
                            constraint `fk_data_txt_data_sql` 
                            foreign key (index_sql)
                            references `data_sql` (index_sql)
                            on delete cascade on update cascade
                            );""")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.close()
cnx.close()

In [11]:
'''Esta es la función para la insercción de datos a la tabla datos_txt:'''

def insercion_datos_txt(datos_txt):
    
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='127.0.0.1', database='project1')


    mycursor = cnx.cursor()
    
    sql = """INSERT INTO data_txt (index_txt,q3,q4,q5,q6,q7,q8,q9,q11,q12,q13,q14,q15,q16,q17, q20, q21, q22, 
                q23, q24, q25, q26, q32, q33, q34,q35, q41) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
    val = datos_txt
    
    try: 
        mycursor.executemany(sql, val)
        cnx.commit()
        print(mycursor.rowcount, "registro insertado.")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [14]:
'''Llamamos a la variable que contiene el archivo limpio y lo insertamos en la base de datos
recién creada con la función de inserción de datos'''

insercion_datos_txt(txt_limpio)

25972 registro insertado.